.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px; /* 调整容器宽度适应屏幕 */
  margin: 0 auto;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  font-size: 96px;
  font-weight: bold;
  background-color: #eee4da;
  color: #776e65;
  border-radius: 5px;
}

.restart-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .grid-container {
    width: 400px;
    height: 400px;
  }

  .tile {
    width: 160px;
    height: 160px;
    font-size: 48px;
  }
}
